# Logistic Regression Exercise

![Namespace Labs](../../../labs.png)

# Using Logistic Regression Predict, the Survival Status
Survival status

- 1 = the patient survived 5 years or longer

- 2 = the patient died within 5 year

Dataset contains modified cases from study conducted on the survival of patients who had undergone surgery for breast cancer

In [1]:
# import pandas

In [2]:
# import survival.csv in a DF named df
# Print the head of the dataset

,age,Patient's year of operation,Number of positive axillary nodes detected,Survival status
0,30,64,1,1
1,30,62,3,1
2,30,65,0,1
3,31,59,2,1
4,31,65,4,1

In [3]:
# Check the info of the dataframe
# Are there any null values?

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368 entries, 0 to 367
Data columns (total 4 columns):
age                                           368 non-null int64
Patient's year of operation                   368 non-null int64
Number of positive axillary nodes detected    368 non-null int64
Survival status                               368 non-null int64
dtypes: int64(4)
memory usage: 11.6 KB

In [4]:
# Print a summary of the dataset

,age,Patient's year of operation,Number of positive axillary nodes detected,Survival status
count,368.000000,368.000000,368.000000,368.000000
mean,59.478261,61.980978,3.687500,1.410326
std,16.452377,4.233275,6.624836,0.492563
min,16.000000,38.000000,0.000000,1.000000
25%,47.000000,58.000000,0.000000,1.000000
50%,56.000000,62.000000,1.000000,1.000000
75%,69.250000,65.000000,4.000000,2.000000
max,97.000000,78.000000,52.000000,2.000000

In [5]:
# Display the columns of the dataset

Index(['age', 'Patient's year of operation',
       'Number of positive axillary nodes detected', 'Survival status'],
      dtype='object')

In [6]:
# Create the X and y variables

In [7]:
# Split the dataset into a training and testing set

In [8]:
# Import logistic regression

In [9]:
# Create an instance of the Logistic Regression

In [10]:
# Fit the training data to the model

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=12, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [11]:
# Make pedictions using the testing set

In [12]:
# Import the classification metrics

In [13]:
# What is the accuracy of the model

0.8288288288288288

In [14]:
# Display the confussion matrix

array([[62, 12],
       [ 7, 30]])

In [15]:
# Print the classification report

              precision    recall  f1-score   support

           1       0.90      0.84      0.87        74
           2       0.71      0.81      0.76        37

    accuracy                           0.83       111
   macro avg       0.81      0.82      0.81       111
weighted avg       0.84      0.83      0.83       111

Consult a medical expert if applying this in a real medical situation!

Happy coding!