# Decision Trees & Random Forest Classification

![Namespace Labs](../../../../labs.png)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('transfusion.data')
# Predict if someone donated blood in March 2007
# (1 stand for donating blood; 0 stands for not donating blood).

In [3]:
df.head()
# R (Recency - months since last donation),
# F (Frequency - total number of donation),
# M (Monetary - total blood donated in c.c.),
# T (Time - months since first donation),

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
Recency (months)                              748 non-null int64
Frequency (times)                             748 non-null int64
Monetary (c.c. blood)                         748 non-null int64
Time (months)                                 748 non-null int64
whether he/she donated blood in March 2007    748 non-null int64
dtypes: int64(5)
memory usage: 29.3 KB

In [5]:
df.describe()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
count,748.000000,748.000000,748.000000,748.000000,748.000000
mean,9.506684,5.514706,1378.676471,34.282086,0.237968
std,8.095396,5.839307,1459.826781,24.376714,0.426124
min,0.000000,1.000000,250.000000,2.000000,0.000000
25%,2.750000,2.000000,500.000000,16.000000,0.000000
50%,7.000000,4.000000,1000.000000,28.000000,0.000000
75%,14.000000,7.000000,1750.000000,50.000000,0.000000
max,74.000000,50.000000,12500.000000,98.000000,1.000000

In [6]:
df.columns

Index(['Recency (months)', 'Frequency (times)', 'Monetary (c.c. blood)',
       'Time (months)', 'whether he/she donated blood in March 2007'],
      dtype='object')

In [7]:
X = df.drop('whether he/she donated blood in March 2007', axis=1)
y = df['whether he/she donated blood in March 2007']

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3)

In [9]:
from sklearn.tree import DecisionTreeClassifier

In [10]:
tree = DecisionTreeClassifier()

In [11]:
tree.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [12]:
predictions = tree.predict(X_test)

In [13]:
from sklearn.metrics import classification_report, confusion_matrix,accuracy_score

In [14]:
accuracy_score(predictions, y_test)

0.68

In [15]:
confusion_matrix(predictions, y_test)

array([[131,  28],
       [ 44,  22]])

In [18]:
print(classification_report(predictions, y_test))

              precision    recall  f1-score   support

           0       0.75      0.82      0.78       159
           1       0.44      0.33      0.38        66

    accuracy                           0.68       225
   macro avg       0.59      0.58      0.58       225
weighted avg       0.66      0.68      0.67       225

In [19]:
from sklearn.ensemble import RandomForestClassifier

In [20]:
rf = RandomForestClassifier()

In [21]:
rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [22]:
rf_predictions = rf.predict(X_test)

In [23]:
accuracy_score(rf_predictions, y_test)

0.7155555555555555

In [24]:
confusion_matrix(rf_predictions, y_test)

array([[142,  31],
       [ 33,  19]])

In [26]:
print(classification_report(rf_predictions, y_test))

              precision    recall  f1-score   support

           0       0.81      0.82      0.82       173
           1       0.38      0.37      0.37        52

    accuracy                           0.72       225
   macro avg       0.60      0.59      0.59       225
weighted avg       0.71      0.72      0.71       225

Happy Coding!